<%- include('partials/header')  %>

    <main class="container" id="home">
        <div class="col">
            <h1>notesApp</h1>
            <p>NotesApp lets you create and manage your notes with ease. <br>Take notes anytime, anywhere.</p>
            <a href="/notes" class="btn">View Your Notes</a>
        </div>
        <div class="col">
            <img src="/images/notes.png" alt="">
        </div>
    </main>

<%- include('partials/footer') %>